body{
    background-position: center center;
    background-color: rgb(24,48,40);
}
#header{
    text-align: center;
    text-decoration: underline;
    /* font-style: italic; */
    font-size: x-large;
    color: white;
    -webkit-text-stroke: .25px rgb(255,215,0);
}
#get_player{
    text-align: center;
}
.card{
    border: 20px solid rgb(255,215,0);
    width: 250px;
    height: 325px;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    border-radius: 40px;
    padding: 20px;  
}
#results{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.full-name{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
.info{
    font-size: large;
}
.text{
    width: 60px;
}
#card{
    border: 20px solid rgb(255,215,0);
    width: 250px;
    height: 325px;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    border-radius: 40px;
    padding: 20px;  
}
#full-name{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}